.file-upload{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.file-select{
    margin-right: 16px;
}

.loading-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.form-controls{
    align-items: flex-start;
    width: 50%;
}
.spacing-xs{
    margin: 4px 0;
}

.file-upload-modal{
    margin-top: 32px;
}
